<a href="https://colab.research.google.com/github/cfreeman22/D213/blob/main/d213_task2_b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import json
import gzip
import pandas as pd

In [2]:
#reading the data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
file_path = '/content/drive/My Drive/Software.json.gz'

In [5]:
def extract_data_from_gzip_json(filepath):
    """
    Extracts data from a json file contained in a gzip and loads it into a pandas DataFrame.

    Parameters:
        filepath (str): Path to the gzip file containing the json.

    Returns:
        df (pd.DataFrame): Pandas DataFrame containing the data from the json.
    """
    data = []
    with gzip.open(filepath, 'rt', encoding='utf-8') as f:
        for line in f:
            data.append(json.loads(line))
    df = pd.DataFrame(data)
    return df

In [6]:
data = extract_data_from_gzip_json(file_path)

In [7]:
data.shape

(459436, 12)

In [12]:
new_df = data[['overall','reviewText']]

In [13]:
new_df.head()

   overall                                         reviewText
0      4.0  The materials arrived early and were in excell...
1      4.0  I am really enjoying this book with the worksh...
2      1.0  IF YOU ARE TAKING THIS CLASS DON"T WASTE YOUR ...
3      3.0  This book was missing pages!!! Important pages...
4      5.0  I have used LearnSmart and can officially say ...

In [15]:
# Check for NULL values.
new_df.isnull().sum(axis=0)

overall        0
reviewText    66
dtype: int64

In [16]:
new_df = new_df.dropna()

In [17]:
# Changing column names
new_df = new_df.rename(columns={'overall': 'score', 'reviewText': 'review'})
new_df.head()

   score                                             review
0    4.0  The materials arrived early and were in excell...
1    4.0  I am really enjoying this book with the worksh...
2    1.0  IF YOU ARE TAKING THIS CLASS DON"T WASTE YOUR ...
3    3.0  This book was missing pages!!! Important pages...
4    5.0  I have used LearnSmart and can officially say ...

In [18]:
new_df['sentiments'] = new_df.score.replace({4: 'positive', 5: 'positive', 1: 'negative', 2: 'negative', 3: 'neutral'})
new_df.head()

   score                                             review sentiments
0    4.0  The materials arrived early and were in excell...   positive
1    4.0  I am really enjoying this book with the worksh...   positive
2    1.0  IF YOU ARE TAKING THIS CLASS DON"T WASTE YOUR ...   negative
3    3.0  This book was missing pages!!! Important pages...    neutral
4    5.0  I have used LearnSmart and can officially say ...   positive

In [ ]:
# new_df.to_csv('cleaned_nlp_data')